*{font-family: 'Roboto', sans-serif;}

body {width: 80vw;
  box-sizing: border-box;
  margin: auto;}

#map_1_id {
  height: 480px;
  /* width: 80%; */
  margin: auto;
  background-color: antiquewhite;
}

p {
  text-align: justify;
  color: #4c4c4e;
}

b {
  color: #1e4b7a;
}

b.extra {
  font-size: 1.6rem;
}

a {
  color: #cc0052;
}

.good_to_know {
  border: 2px solid #cc0052;
  border-radius: 5px;
  padding: 10px;
  padding-top: 5px;
}

.arc_chart_text {
 font-size: .9rem;
}

.arc_chart_caption {
  font-size: .8rem;
  font-style: italic;
 }
 

.arc_axis {
  font-size: .7rem;
  color: '#999999';
}

.arc_selected {
 stroke:darkred;
 stroke-width: 2px;
}


.tooltip_class {
  max-width: 200px;
  padding-left: 5px;
  padding-right: 5px;
  /* font-size: 0.9rem; */
  background: #ffffff;
  color: #000000;
  border-radius: 5px;
  border: 1px solid #000;
  text-align: left !important;
}

